.movie-img {
  width: 80px;
  height: 120px;
  object-fit: cover;
  margin-right: 15px;
}

.container {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}

.info {
  display: flex;
  flex-direction: column;
}

.buttons {
  margin-top: 8px;
}

.buttons button {
  margin-right: 5px;
  padding: 5px 10px;
  cursor: pointer;
}